{% extends "base.html.twig" %}

{% block body %}
	<hr>
	<div class="wrap" style="padding: 0 15px;">
		<h2 style="text-align: center;">Мэдэгдэл</h2>
		<div style="height: calc(100vh - 200px); overflow-y: auto;">
			<p>
				Таны захиалгын төлбөр төлөх хугацаа дуусаж цуцлагдлаа.
				<br>
				Захиалгын дугаар:
				{{ orderId }}<br><br>
			</p>
		</div>
	</div>
{% endblock %}
