{% extends "base.html.twig" %}

{% block body %}
	<hr>
	<div class="wrap" style="padding: 0 15px;">
		<h2 style="text-align: center;">Нэхэмжлэл</h2>
		<div style="height: calc(100vh - 200px); overflow-y: auto;">
			<p>
				Сайн байна уу,<br>
				Таны нэхэмжлэл
				{{ statusmsg }}<br><br>
			</p>
		</div>
	</div>

{% endblock %}
